* {
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  overflow: hidden;
}
main {
  overflow: hidden;
}
#firstLogo {
  float: left;
  margin: 60px 10px 0 60px;
}

#delicious {
  font-size: 25px;
}

#bestfood {
  font-size: 10px;
}

#blogTitle {
  float: left;
  margin-top: 60px;
  
}

#socialMediaIcons {
  float: right;
  margin-top: 70px;
}

#shareIcons {
  float: right;
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
}

#recipeTitle {
  float: left;
  margin-left: 60px;
  margin-top: 60px;
  font-size: 30px;
}
#postate {
  float: left;
  margin-left: 60px;
  margin-top: 60px;
  font-size: 15px;
}

#print {
  float: right;
  margin-right: 15px;
  margin-top: 60px;
}

#print > img {
  float: left;
  margin-top: 20px;
}

#print > p {
  float: right;
}

#titleBlock {
  overflow: hidden;
}

#chocoPizza {
  height: 600px;
  margin-left: 60px;
  margin-right: 15px;
}

#instructions {
  margin-right: 15px;
  margin-left: 60px;
}

#ingredients {
  position: relative;
  text-align: center;
}

#leftList {
  position: absolute;
  top: 50px;
  left: 300px;
}

#rightList {
  position: absolute;
  top: 50px;
  right: 350px;
}

#vanessa {
  float: left;
}

button {
  float:right;
  margin-top: 30px;
  margin-right: 15px;
}

#bio {
  float: left;
  overflow: hidden;
}
#copyright {
  text-align: center;
}