* {
  box-sizing: border-box;
  border: solid black 1px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  overflow: hidden;
}

#firstLogo {
  float: left;
  margin: 60px 0 0 60px;
}

#blogTitle{
  float: left;
  margin-top: 60px;
}

#socialMediaIcons {
  float: right;
  margin-top: 60px;
}

#shareIcons {
  float: right;
  margin-top: 60px;
  margin-left: 15px;
  margin-right: 15px;
}

#recipeTitle {
  float: left;
  margin-left: 60px;
  margin-top: 60px;
}

#print {
  float: right;
  margin-right: 15px;
  margin-top: 60px;
}

#print > img {
  float: left;
  margin-top: 20px;
}

#print > p {
  float: right;
}

#titleBlock {
  overflow: hidden;
}

#chocoPizza {
  height: 600px;
  margin-left: 60px;
  margin-right: 15px;
}

#instructions {
  margin-right: 15px;
  margin-left: 60px;
}

#ingredients {
  position: relative;
  text-align: center;
}

#leftList {
  position: absolute;
  top: 50px;
  left: 260px;
}

#rightList {
  position: absolute;
  top: 50px;
  right: 300px;
}